@media screen and (max-width: 1500px) {
    #empresa{
        background: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        

    }

    #empresa img{
        display: unset;
        margin-top: 330px;
        margin-bottom: -200px;

        width: 340px;

    }

    #empresa h2 {
        margin-top: 65px;
        margin-left: 13px;
    }

    #empresa p {
        margin-top: -37px;
    }

    #empresa button {
        margin-bottom: 70px;
    }

    
    

    header svg {
        fill: #26BFB0;
        width: 50px;
    }

    nav.menu {
        height: 500px;
        width: 350px;

        padding: 0px  30px;

        flex-direction: column;

        justify-content: space-around;
        align-items: center;

        background-color: #fff;
        background-image: url(img/fundo.png);
        background-repeat: no-repeat;
        background-size: cover;
        
        

        position: absolute;
        top: 165px;
        right: 0px;
    }


   

   

    #cases h2 {
        font-size: 20px;
    }

    #cases p {
        margin-bottom: unset;
        margin-bottom: 200px;
        padding-top: 13px;
        
    }

    .jogos h3 {
        font-size: 40px;
    }
     
    .jogos p{
        font-size: unset;
        font-size: 17px;
        

    }

    .jogos button {
        font-size: 20px;
        width: 235px;
        height: 65px;
    }
    
    #gamificado img {
        width: 340px;
        height: 380px;
    }
    
    #contato .text h2 {
        font-size: 30px;
        
    }

    #contato .text p {
        font-size: 15px;
        margin-top: -30px;
    }

    

}

@media screen and (max-width: 1169px) {

    #cases .texto img {
        width: unset;
        width: 70px;
        
        padding-bottom: 43px;
    }

    #cases h2 {
        font-size: 18px;
        

    }

    #cases .imagens img {
        margin-bottom: 32px;
        
    }

    #cases .textos p {
        /* font-size: unset; */
        font-size: 18px;
        width: unset;
        
        
        
    }

    div.imagens{
        flex-direction: column;
        align-items: center;

        
        
    }

    #gamificado img {
        width: 0px;
        
    }

    .jogos h3 {
        position: relative;
        right: 100px;
    }

    .jogos p {
        position: relative;
        right: 72px;
    }

    .jogos button {
        position: relative;
        right: 98px;

    }

}

@media screen and (max-width: 780px){
    header button{
        display: unset;
       border: none;
    }

}
